main {
    background-image: url(../imagenes/texture-lobby.jpg);
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contenedor-registro {
    width: 60%;
    height: 60%;
    background-color: #FDF6E3;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15),
    0px 6px 20px rgba(0, 0, 0, 0.2);
    position: relative;
}
@media (max-width: 768px) {
    #contenedor-registro{
        height: 80%;
        width: 80%;
    }
}