* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 16px;
}

html, body {
    /* Oculta las barras de desplazamiento */
    overflow: hidden;
    width: 100%;
    height: 100%;
}

main {
    background-image: url(../imagenes/texture-lobby.jpg);
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

#contenedor-ruleta {
    width: 45vw;
    max-width: 600px;             /* no crecer más que 700px */
    min-width: 500px;             /* no ser más pequeño que 350px */
    height: auto;                 /* ajusta automáticamente */
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Para la ruleta */
.ruleta-container {
    width: 90%;                  /* ocupa el 90% del padre para responsividad */
    aspect-ratio: 1;             /* mantiene proporción cuadrada */
    max-width: 600px;            /* no crecer más que 600px (desktop) */
    min-width: 300px;            /* no achicar más que 300px (puedes ajustar) */
    margin-bottom: 1.5em;
}

.ruleta {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border: 8px solid #333;
}



.sectores-texto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.imagen-sector {
    position: absolute;
    width: 14%;
    height: auto;
    top: 45%;
    left: 50%;
    transform-origin: 0% 0%;
    transform: rotate(var(--rotation))
    translateY(-240%)
    translateX(-50%);
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 0 2px rgba(0.7, 0.7, 0.7, 0.7);
}


.puntero {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 25px solid #333;
    z-index: 10;
}


.ruleta.girando {
    transition: transform 5s cubic-bezier(0.1, 0.7, 0.4, 1);
}

.ruleta.girando .imagen-sector {
    /* APLICAR CAMBIOS DE TAMAÑO Y POSICIÓN */
    top: 50% !important;
    width: 18% !important;
    /* Para que el cambio de tamaño sea suave */
    transition: width 0.5s ease, top 0.5s ease;
}

.ruleta.girando .imagen-sector {
    transition: none !important;
}

#btn-girar {
    padding: 0.8em 2em;
    font-size: 1.1em;
}

#btn-girar:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

/* Estilos de Botones (Existentes y Mantenidos) */
.btn {
    border-radius: 12px;
    border: none;
    background-color: #8773be;
    color: white;
    font-weight: bold;
    cursor: pointer;
    z-index: 6;
}

.btn:hover {
    background-color: #7358bb;
}

#contenedor-preguntas{
    width: 60vw;
    height: 80vh;
    background-color: #FDF6E3;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15),
    0px 6px 20px rgba(0, 0, 0, 0.2);
}

#preguntas-sup {
    padding: 1em;
    position: relative;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#preguntas-img {
    height: 70%;
    border-radius: 12px;
    margin-bottom: 1em;
}

#preguntas-descripcion {
    font-weight: bold;
    font-size: 1.2em;
}

#preguntas-inf {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    width: 100%;
    height: 30%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.btn {
    border-radius: 12px;
    border: none;
    background-color: #8773be;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    background-color: #7358bb;
}

.oculto{
    display: none;
}

.respuestaCorrectaAnimation {
    background-color: green;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

.respuestaIncorrecta {
    background-color: rgba(220, 55, 65, 1);
}

#timer{
    padding: 0.5em;
    border-radius: 8px;
    border: 2px solid black;
    background-color: beige;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
}

.tiempo{
    font-size: 1.2em;
    font-weight: bolder;
}

@keyframes bounce {
    25% {
        scale: 110%;
    }

    50% {
        scale: 100%;

    }
    75% {
        scale: 110%;
    }
    100% {
        scale: 100%;
    }


}
#contenedor-ruleta,
#contenedor-preguntas,
#contenedor-partidaPerdida {
    position: absolute;
    top: 50%;
    left: 62%;
    transform: translate(-50%, -50%);
}



@media(max-width: 768px) {
    /* --- RE-CENTRADO MÓVIL (Ajuste por header superior) --- */
    #contenedor-ruleta,
    #contenedor-preguntas,
    #contenedor-partidaPerdida {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #contenedor-ruleta {
        width: 90vw;
        max-width: 650px;             /* no crecer más que 700px */
        min-width: 550px;
        padding: 1em;
        height: auto;
        top: 57%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .ruleta-container {
        width: 60%;
        aspect-ratio: 1;
        margin-bottom: 1em;
        max-width: 600px;            /* no crecer más que 600px (desktop) */
        min-width: 300px;
    }

    #btn-girar {
        position: relative;
        font-size: 1em;
    }


    .imagen-sector {
        transform: rotate(var(--rotation))
        translateY(-200%)
        translateX(-50%);
        position: absolute;
        top: 43%;
        width: 12%;
        height: auto;
        padding: 5px;
        box-shadow: 0 0 2px rgba(0.7, 0.7, 0.7, 0.7);
    }

    .ruleta.girando .imagen-sector {
        width: 22% !important;
        transition: width 0.5s ease;
    }

    /* --- CONTENEDORES MÓVILES --- */
    #contenedor-partidaPerdida{
        width: 80vw;
        height: 80vh;
        padding: 1em;
        max-width: none;
        min-height: 400px;
    }

    #contenedor-preguntas {
        width: 90vw;
        height: 80vh;
        padding: 1em;
    }

    /* --- Preguntas internas --- */
    #preguntas-img {
        height: 60%;
        overflow: hidden;
    }

    #preguntas-descripcion {
        font-size: 0.9em;
    }

    #contenedor-partidaPerdida .btn{
        padding: 6px 15px;
        font-size: 10px;
    }
    #contenedor-partidaPerdida #botones{
        padding: 6px 15px;
        font-size: 10px;
    }
    #contenedor-partidaPerdida #puntaje {
        font-size: 16px;
        font-weight: bold;
        color: #ecf0f1;
        margin-bottom: 20px;
        padding: 6px 10px;
        background-color: #8773be;
        border-radius: 6px;
        width: 50%;
    }
    #timer{
        padding: 0.3em;
        border-radius: 8px;
        border: 1px solid black;
        background-color: beige;
        color: black;
    }

    .tiempo{
        font-size: 1.2em;
    }

    .puntero {
        top: 0px;
    }

}



.oculto {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.visible {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.3s ease;
}

#contenedor-partidaPerdida {
    width: 70vw;
    max-width: 800px;
    height: 70vh;
    min-height: 400px;
    padding: 25px;
    background-color: #FDF6E3;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
    text-align: center;
    color: #ecf0f1;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#contenedor-partidaPerdida #preguntas-img {
    width: 600px;
    height: auto;
    display: block;
    margin: 1px auto 20px auto;
    border-radius: 8px;
}

#contenedor-partidaPerdida .partidaFinalizada p {
    font-size: 2em;
    font-weight: 700;
    color: #f1c40f;
    margin-top: 0;
    margin-bottom: 15px;
    text-transform: uppercase;
}

#contenedor-partidaPerdida #puntaje {
    font-size: 14px;
    font-weight: bold;
    color: #ecf0f1;
    margin-bottom: 30px;
    padding: 8px 1px;
    background-color: #8773be;
    border-radius: 6px;
    width: 50%;
}

#contenedor-partidaPerdida #botones {
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

#contenedor-partidaPerdida .btn {
    padding: 6px 15px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-transform: uppercase;
}

#contenedor-partidaPerdida #volver {
    background-color: #8773be;
    color: white;
}

#contenedor-partidaPerdida #volver:hover {
    background-color: #7358bb;
}

#contenedor-partidaPerdida #inicio {
    background-color: #f1c40f;
    color: #2c3e50;
}

.btn:hover {

}

#contenedor-partidaPerdida #inicio:hover {
    background-color: #ffcd08;
}



