.oculto {
    display: none !important;
}

.modal {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
}

.modal-contenedor {
    position: relative;
}

.cerrar {
    position: absolute;
    top: 0.5em;
    right: 1em;
    cursor: pointer;
    font-size: 1.2em;
}

