
<h1>¡Gracias por registrarte!</h1>
<p>Para completar tu registro, por favor hacé clic en el siguiente enlace:</p>
<a href='/register/resultadoActivacion' style='padding: 10px 20px; color: white; background-color: #007bff; text-decoration: none;'>Activar mi cuenta</a>
<p>Para activar tu cuenta, copiá y pegá este enlace en tu navegador: </p>