<h2>¡Registro casi completo!</h2>
<p>Te hemos enviado un correo. Por favor, revisá tu bandeja de entrada para activar tu cuenta.</p>


<form id="form-activacion" method="post" action="/register/activar">
    <label for="token">Tu token de activación:</label>

    <input type="text" name="token" id="token" required>

    <button type="submit">Activar Cuenta</button>
</form>
