    <form>
        <label for="enunciado">Enunciado</label>
        <input type="text" id="enunciado" name="enunciado">
        <label for="categoria">Categoria</label>
        <select id="categoria" name="categoria">
            <option>CATEGORIA</option>
        </select>
    </form>



    <form>
        <label for="respuesta1">Respuesta 1:</label>
        <input type="text" id="respuesta1" name="respuesta1">
            <label for="rta1">Es correcta:</label>
            <input type="radio" id="rta1" name="rtaCorrecta">
        <label for="respuesta2">Respuesta 2:</label>
        <input type="text" id="respuesta2" name="respuesta2">
             <label for="rta2">Es correcta:</label>
             <input type="radio" id="rta2" name="rtaCorrecta">
        <label for="respuesta3">Respuesta 3:</label>
        <input type="text" id="respuesta3" name="respuesta3">
            <label for="rta3">Es correcta:</label>
            <input type="radio" id="rta3" name="rtaCorrecta">
        <label for="respuesta4">Respuesta 4:</label>
        <input type="text" id="respuesta4" name="respuesta4">
            <label for="rta4">Es correcta:</label>
             <input type="radio" id="rta4" name="rtaCorrecta">
    </form>