
<h2>Descarga de Reportes Gráficos</h2>
<p>Selecciona el reporte que deseas descargar en formato PDF.</p>

<div class="lista-descargas">

    <a href="/admin/descargarReporteNivel" target="_blank" class="boton-descarga">
        Descargar Reporte por Nivel de Jugador
    </a>

    <a href="/admin/descargarReporteSexo" target="_blank" class="boton-descarga">
        Descargar Reporte por Sexo
    </a>

</div>

