<link rel="stylesheet" href="../css/juego.css">
    <main class="w-full md:w-3/4 p-8 flex-grow" style="background-image: url(../imagenes/texture-lobby.png); background-size: cover;">
        <section id="contenedor-preguntas">
            <div id="preguntas-sup">
                <img id="preguntas-img" src="../imagenes/logo.jpg" alt="">
                <h2 id="preguntas-descripcion">Lorem, ipsum dolor sit amet consectetur adipisicing elit?</h2>
            </div>
            <div id="preguntas-inf">
                <button id="a" class="btn">Opción</button>
                <button id="b" class="btn">Opción</button>
                <button id="c" class="btn">Opción</button>
                <button id="d" class="btn">Opción</button>
            </div>
        </section>
    </main>
