<main class="w-full md:w-3/4 p-8 flex-grow" style="background-image: url(../imagenes/texture-lobby.png); background-size: cover;">

    <div class="w-full h-full flex justify-center items-center">

        <article class="bg-white shadow-2xl rounded-xl p-8 max-w-sm w-full text-center border-t-8" style="border-color: #8D44B6;">
            <div class="flex flex-col items-center space-y-6">
                <h2 class="text-4xl font-black text-gray-800">PREGUNTADOS</h2>


                <a href="/juego" class="w-full py-3 font-bold text-white rounded-lg shadow-lg hover:opacity-90 transition transform hover:-translate-y-1" style="background-color: #8D44B6;">
                    PARTIDA SOLO
                </a>
                <a href="/juego" class="w-full py-3 font-bold text-gray-900 rounded-lg shadow-lg hover:opacity-90 transition transform hover:-translate-y-1" style="background-color: #F8DE41;">
                    PARTIDA MULTIJUGADOR
                </a>
            </div>
        </article>

    </div>
</main>