<link rel="stylesheet" href="/css/miPerfil.css">
<div class="bg-white shadow-2xl rounded-xl p-6 border-t-8" style="border-top-width: 8px; border-style: solid; border-color: #8D44B6;">

    <div class="flex flex-col md:flex-row items-center md:items-start space-y-4 md:space-y-0 md:space-x-6">

        <div class="relative flex-shrink-0">
            <img id="img-original" src="/{{usuario.foto_perfil}}" alt="Foto de Perfil" class="h-32 w-32 object-cover rounded-full border-4 ring-2 shadow-lg" style="border-color: #8D44B6;">
            <span class="absolute bottom-0 right-0 text-gray-900 text-xs font-bold px-2 py-0.5 rounded-full border-2 border-white shadow-xl" style="background-color: #F8DE41;">
                Nivel 15 </span>
        </div>
        <div class="text-center md:text-left">
            <h1 id="nombre-original" class="text-3xl font-extrabold text-gray-900 mb-1">{{usuario.nombre_usuario}}</h1>
            <p class="text-lg font-medium mb-3" style="color: #8D44B6;">
                Maestro de Trivia
            </p>
            <button type="submit" id="submit" style="padding: 0.5em 1em; border-radius: 12px; background-color: #8D44B6; color: white; font-weight: bold" onclick="abrirModal()">Editar</button>
        </div>
        {{#url_qr}}
            <div class="mt-4 p-2 bg-white rounded-lg shadow-lg border">
                <img src="{{url_qr}}" alt="Código QR de mi perfil" class="w-24 h-24 object-contain">
            </div>
        {{/url_qr}}
    </div>

    <hr class="my-6 border-gray-200">

    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 text-center">

        <div class="p-4 rounded-xl shadow-inner flex flex-col items-center justify-center h-28 md:h-32" style="background-color: #8D44B6;">
            <p class="text-3xl md:text-4xl font-extrabold text-white">{{estadisticas.puntuacion_maxima}}</p>
            <p class="text-sm font-medium text-white opacity-90">Puntuación máxima</p>
        </div>

        <div class="p-4 rounded-xl shadow-inner flex flex-col items-center justify-center h-28 md:h-32" style="background-color: #8D44B6;">
            <p class="text-3xl md:text-4xl font-extrabold text-white">{{estadisticas.total_partidas_jugadas}}</p>
            <p class="text-sm font-medium text-white opacity-90">Partidas Jugadas</p>
        </div>

        <div class="p-4 rounded-xl shadow-inner flex flex-col items-center justify-center h-28 md:h-32" style="background-color: #8D44B6;">
            <p class="text-3xl md:text-4xl font-extrabold text-white">{{estadisticas.total_respuestas_correctas}}</p>
            <p class="text-sm font-medium text-white opacity-90">Respuestas Correctas</p>
        </div>
    </div>

    <div class="mt-8">
        <h2 class="text-2xl font-bold text-gray-800 mb-4 border-b pb-2">Ubicación</h2>
        <div id="mapa-perfil"
             class="w-full h-64 rounded-xl shadow-lg border border-gray-200 z-0"
             data-lat="{{usuario.latitud}}"
             data-lng="{{usuario.longitud}}">
        </div>
    </div>

    <div class="mt-8">
        <h2 class="text-2xl font-bold text-gray-800 mb-4 border-b pb-2">Logros</h2>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <div class="bg-white p-4 rounded-xl shadow-lg hover:shadow-xl transition duration-300 flex items-center space-x-4">
                <div class="text-3xl">⚽</div>
                <div>
                    <p class="font-semibold text-gray-800">Leyenda de Deportes</p>
                    <p class="text-sm text-gray-500">Responder 10 preguntas correctamente</p>
                </div>
            </div>
            <div class="bg-white p-4 rounded-xl shadow-lg hover:shadow-xl transition duration-300 flex items-center space-x-4">
                <div class="text-3xl">🏛️</div>
                <div>
                    <p class="font-semibold text-gray-800">Historiador</p>
                    <p class="text-sm text-gray-500">Responder 50 preguntas correctamente de historia </p>
                </div>
            </div>

            <div class="bg-white p-4 rounded-xl shadow-lg hover:shadow-xl transition duration-300 flex items-center space-x-4">
                <div class="text-3xl">🐛</div>
                <div>
                    <p class="font-semibold text-gray-800">Cazador de Errores</p>
                    <p class="text-sm text-gray-500">Detectar un error en una pregunta</p>
                </div>
            </div>
        </div>
    </div>





</div>

<div id="modal" class="modal w-full h-full flex justify-center items-center oculto">
    <div class="modal-contenedor bg-white shadow-2xl rounded-xl p-8 max-w-sm w-full text-center border-t-8" style="border-color: #8D44B6;">
        <span id="cerrar" class="cerrar">X</span>

        <div class="flex flex-col justify-center items-center w-full py-2 gap-2">
            <label for="foto-perfil" style="border-radius: 50%; width: 9em"><img id="imagen-blob" class="border-4 ring-2 shadow-lg" style=" border-radius: 50%; border-color: #8D44B6; " src="/{{usuario.foto_perfil}}" alt="foto-perfil"></label>
            <input type="file" accept="jpg, png" id="foto-perfil" name="foto-perfil" class="w-full p-2 rounded-xl" style="background-color: #d3d3d3; outline: none;" hidden>
        </div>

        <div class="flex flex-col justify-center items-center w-full py-2 gap-2">
            <label for="nombreUsuario">Nombre Usuario:</label>
            <input id="nombreUsuario" name="nombreUsuario" class="w-full p-2 rounded-xl" style="background-color: #d3d3d3; outline: none;" value="{{usuario.nombre_usuario}}">
        </div>

        <button type="submit" id="submit" style="padding: 0.5em 1em; border-radius: 12px; background-color: #8D44B6; color: white; font-weight: bold" onclick="editarPerfil({{usuario.usuarioId}})">Editar</button>


    </div>
</div>

<script src="/js/perfil.js"></script>
<script src="/js/miPerfil.js"></script>