<main class="w-full md:w-3/4 p-4 md:p-8 flex flex-col flex-1 overflow-y-auto">

    <div class="flex justify-between items-center mb-6 flex-shrink-0">
        <h3 class="text-2xl font-bold text-gray-800">Ranking</h3>
        <!--<label for="toggle-friends" class="flex items-center cursor-pointer">
            <span class="mr-3 text-sm font-medium text-gray-700">Solo Amigos</span>
            <div class="relative">
                <input type="checkbox" id="toggle-friends" class="sr-only peer">
                <div class="block bg-gray-300 w-14 h-8 rounded-full"></div>
                <div class="dot absolute left-1 top-1 bg-white w-6 h-6 rounded-full transition-transform peer-checked:translate-x-full peer-checked:bg-purple-600"></div>
            </div>
        </label>-->
    </div>

    <div class="overflow-x-auto shadow-md rounded-lg">
        <table class="w-full text-sm text-left text-gray-600">
            <thead class="text-xs text-gray-700 uppercase bg-gray-100 sticky top-0">
            <tr>
                <th scope="col" class="px-6 py-3">Posición</th>
                <th scope="col" class="px-6 py-3">Usuario</th>
                <th scope="col" class="px-6 py-3">Puntos</th>
            </tr>
            </thead>
            <tbody>
            {{#ranking}}
                <tr class="border-b bg-green-50 hover:bg-green-100">
                    <th scope="row" class="px-6 py-4 font-bold text-gray-900">{{posicion}}</th>
                    <td class="px-6 py-4">
                        <div class="flex items-center">
                            <a  href="/perfil/{{nombre_usuario}}"><img class="w-10 h-10 rounded-full object-cover mr-3" src="/{{foto_perfil}}" alt="Foto de Juan"></a>
                            <a  href="/perfil/{{nombre_usuario}}"><span style="font-weight: bold">{{nombre_usuario}}</span></a>
                        </div>
                    </td>
                    <td class="px-6 py-4">{{puntos}}</td>
                </tr>
            {{/ranking}}
            </tbody>
        </table>
    </div>
</main>