<h2>¡Registro casi completo!</h2>
<p>Te hemos enviado un correo. Por favor, revisá tu bandeja de entrada para activar tu cuenta.</p>

<form method="post" action="/register/activar">
    <label for="token">Inserte su token:</label>
    <input type="text" name="token" id="token">
    <button type="submit">Enviar</button>
</form>
<h1>¡Cuenta activada con éxito!</h1>
<p>Ya podés iniciar sesión con tus credenciales.</p>
<p>LINK AL LOGIN ACA</p>
<h1>Error de activación</h1>
<p>El enlace no es válido o ya ha sido utilizado.</p>