
{{#activacionExitosa}}
<h1>¡Cuenta activada con éxito!</h1>
<p>Ya podés iniciar sesión con tus credenciales.</p>
<a href="/">Ir Al Login</a>
{{/activacionExitosa}}
{{#activacionFallida}}
<h1>Error de activación</h1>
<p>El enlace no es válido o ya ha sido utilizado.</p>
{{/activacionFallida}}