
<main class="w-full md:w-3/4 p-8 flex-grow h-screen overflow-auto" style="background-image: url(../imagenes/texture-lobby.jpg); background-size: cover;">
    <div class="w-full h-full flex justify-center items-center p-2">
        <!--<form action="/juego/sugerirPreguntaNueva" method="POST" class="bg-white shadow-2xl rounded-xl p-8 max-w-sm w-full text-center border-t-8" style="border-color: #8D44B6;">-->
        <div class="bg-white shadow-2xl rounded-xl p-8 max-w-sm w-full text-center border-t-8" style="border-color: #8D44B6;">
            <div class="flex flex-col justify-center items-center w-full py-2 gap-2">
                <label for="enunciado">Enunciado:</label>
                <!--<input type="text" id="enunciado" name="enunciado">-->
                <textarea id="enunciado" name="enunciado" rows="auto" cols="auto" class="w-full p-2 rounded-xl" style="background-color: #d3d3d3; outline: none;"></textarea>
            </div>

            <div class="flex flex-col justify-center items-center w-full py-2 gap-2">
                <label for="categoria">Categoria:</label>
                <select id="categoria" name="categoria">

                </select>
            </div>


            <hr>

            <div class="flex justify-center items-center w-full py-2 gap-2">

                <div class="flex flex-col justify-center items-center w-full py-2 gap-2">
                    <label for="respuesta1">Respuesta 1:</label>
                    <textarea class="w-full p-2 rounded-xl" type="text" id="respuesta1" name="respuestas" style="background-color: #d3d3d3; outline: none;"></textarea> <label for="rta1">Es correcta:</label>
                    <input type="radio" id="rta1" name="rtaCorrecta" value="0" required>
                </div>

                <div class="flex flex-col justify-center items-center w-full py-2 gap-2">
                    <label for="respuesta2">Respuesta 2:</label>
                    <textarea class="w-full p-2 rounded-xl" type="text" id="respuesta2" name="respuestas" style="background-color: #d3d3d3; outline: none;"></textarea> <label for="rta2">Es correcta:</label>
                    <input type="radio" id="rta2" name="rtaCorrecta" value="1">
                </div>

            </div>

            <div class="flex justify-center items-center w-full py-2 gap-2">

                <div class="flex flex-col justify-center items-center w-full py-2 gap-2">
                    <label for="respuesta3">Respuesta 3:</label>
                    <textarea class="w-full p-2 rounded-xl" type="text" id="respuesta3" name="respuestas" style="background-color: #d3d3d3; outline: none;"></textarea> <label for="rta3">Es correcta:</label>
                    <input type="radio" id="rta3" name="rtaCorrecta" value="2">
                </div>

                <div class="flex flex-col justify-center items-center w-full py-2 gap-2">
                    <label for="respuesta4">Respuesta 4:</label>
                    <textarea class="w-full p-2 rounded-xl" type="text" id="respuesta4" name="respuestas" style="background-color: #d3d3d3; outline: none;"></textarea> <label for="rta4">Es correcta:</label>
                    <input type="radio" id="rta4" name="rtaCorrecta" value="3">
                </div>

            </div>



            <button type="submit" id="submit" style="padding: 0.5em 1em; border-radius: 12px; background-color: #8D44B6; color: white; font-weight: bold">Enviar</button>
        </div>
        <!--</form>-->
    </div>

</main>

<script src="/js/sugerirPregunta.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
